@page "/events/create"
@using MyTicket.WebApp.Shared.ViewModels
@rendermode InteractiveServer
@inject CreateEventService CreateEventService
@inject NavigationManager NavigationManager

<h3>Create Event</h3>

<AddUpdateEventComponent EventViewModel="@_eventViewModel" OnEventSaved="CreateEvent" ErrorMessage="_errorMessage">
    <ErrorMessageFragment>
        <ErrorMessageComponent ErrorMessage="@_errorMessage"></ErrorMessageComponent>
    </ErrorMessageFragment>
</AddUpdateEventComponent>


@code {
    private EventViewModel _eventViewModel = new EventViewModel();

    private string? _errorMessage = string.Empty;

    private async Task CreateEvent()
    {
        _errorMessage = CreateEventService.ValidateEvent(_eventViewModel);

        if (!string.IsNullOrWhiteSpace(_errorMessage))
        {
            return;
        }

        await CreateEventService.CreateEventAsync(_eventViewModel);

        // Navigate to the list of created events
        NavigationManager.NavigateTo("/");
    }
}